@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
/* gobal reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Vollkorn", sans-serif;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: #212832;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #5e6282;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

button {
  font-family: "poppins", sans-serif;
  border: none;
  outline: 0;
}

img#shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
}

img#blod {
  position: absolute;
  top: 0;
  right: 0;
  width: 44%;
  z-index: -1;
}

img#decore {
  position: absolute;
  top: 29%;
  left: 40%;
  width: 45%;
  z-index: -1;
}

/* utlities */

.container {
  max-width: 114rem;
  margin: 0 auto;
}

/* btn */
.btn {
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 1.4rem;
  border: none;
}

.btn-borderless {
  border: none;
}

.btn-border {
  border: solid 1px #212832;
}

.btn-primary {
  background-color: #f1a501;
}
.btn-secondary {
  background-color: #df6951;
}
.btn-rec {
  color: #f4f4f4;
  border-radius: 1rem;
}
.btn-circle {
  border-radius: 4rem;
  align-items: center;
  color: #f4f4f4;
}

.btn.btn-borderless:hover {
  background-color: #212832;
  color: #fff;
}

.btn.btn-border:hover {
  background-color: #212832;
  color: #fff;
}

/* navbar */
header {
  min-height: 50px;
  padding: 3rem 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

nav.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-right: 4rem;
}

.nav-list li.nav-item:not(:last-child) {
  margin-right: 5.5rem;
}

.nav-list li a {
  font-size: 1.2rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.nav-list li a:hover {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-list-btn {
  display: flex;
}

.nav-list-btn a:not(:last-child) {
  margin-right: 1.4rem;
}

.open-menu {
  display: none;
}

.close-menu {
  display: none;
}

.ruler {
  display: none;
}

/* showcase */
.showcase {
  padding: 6rem;
  margin-top: 60px;
}
.showcase-flex {
  display: flex;
  align-items: center;
  /* gap: 2.5rem; */
}

.showcase-text {
  position: relative;
}

.showcase-text h2 {
  color: #df4d30;
  font-weight: 600;
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.showcase-text h1 {
  color: #181e4b;
  font-size: 6.2rem;
  margin-bottom: 2rem;
  width: 80%;
  /* line-height: ; */
}

.showcase-text > p {
  margin-bottom: 2.4rem;
  width: 80%;
  line-height: 2;
  font-size: 1.4rem;
}

.showcase-btn-flex {
  display: flex;
  align-items: center;
}

.btn-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
}

.btn-flex p {
  margin-left: 1rem;
}

/* responsive */
@media screen and (max-width: 1050px) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }
}

@media screen and (max-width: 850px) {
  .showcase-text h1 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  header {
    justify-content: space-between;
    padding: 3rem 10%;
  }

  header div.company-logo img {
    width: 100px;
  }

  nav.nav {
    /*display: none;
    */
    z-index: 10000;
    position: fixed;
    top: 81px;
    right: -1000%;
    flex-direction: column;
    background-color: rgba(24, 30, 75, 0.85);
    padding: 5rem 2rem;
    width: 35%;
    height: 420px;
    text-align: center;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    backdrop-filter: blur(7px);
    box-shadow: 0 5px 30px rgba(33, 40, 50, 0.34);
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
  }

  .nav-list li a.nav-link {
    color: rgb(236, 236, 236);
  }

  .nav-list {
    flex-direction: column;
    margin-right: 0;
  }

  .nav-list li.nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.5rem;
  }

  .nav-list-btn {
    flex-direction: column;
  }

  .nav-list-btn a:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }

  .nav-list-btn a.btn-borderless {
    color: rgb(236, 236, 236);
  }

  .nav-list-btn a.btn-border {
    color: rgb(236, 236, 236);
    border: 1px solid rgb(236, 236, 236);
  }

  .nav-list-btn a.btn-border:hover,
  .nav-list-btn a.btn-borderless:hover {
    background-color: #fff;
    color: #212832;
  }

  .ruler {
    display: block;
    height: 2px;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    margin: 3rem 0;
  }

  .open-menu {
    display: block;
    color: #181e4b;
    font-size: 2.8rem !important;
  }

  .close-menu {
    color: #181e4b;
  }

  .showcase-text h1 {
    font-size: 5rem;
  }
}

nav.nav.show {
  right: 0;
}

@media screen and (max-width: 680px) {
  .showcase {
    padding: 6rem 4rem;
  }
  .showcase-flex {
    flex-direction: column;
  }
  .showcase-text {
    margin-bottom: 4rem;
  }

  .showcase-text > p {
    width: 100%;
  }

  .showcase-img img {
    width: 85%;
    margin: 0 auto;
  }

  /* nav.nav {
    width: 38%;
  } */
}

@media screen and (max-width: 600px) {
  nav.nav {
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  nav.nav {
    width: 70%;
    height: 400px;
  }

  .showcase-img img {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  nav.nav {
    height: 50%;
  }
}

@media screen and (max-width: 390px) {
  nav.nav {
    height: 64%;
  }
}

@keyframes navSlide {
  from {
    opacity: 0;
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
